* {
    box-sizing: border-box;
}

:root {

}

input {
    height: 38px;
    border: 1px solid black;
    border-radius: 3px;
}
img {
    max-height: 400px;
    background-size: cover;
}
select {
    height: 38px;
    border-radius: 3px;
}
a:hover {
    background-size: 0 3px, 100% 3px;
}
a {
    background: linear-gradient(
                    to right,
                    rgba(100, 200, 200, 1),
                    rgba(100, 200, 200, 1)
            ),
            linear-gradient(
                    to right,
                    rgba(255, 0, 0, 1),
                    rgba(255, 0, 180, 1),
                    rgba(0, 100, 200, 1)
            );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}
#anchorCup {
    margin-top: 400px;
    margin-left: 20px;
}
h1 {
    font-weight: 700;
    font-size: 38px;
    letter-spacing: 0.2em;
}
body {
    font-family: 'Amatic SC', cursive;
    background: whitesmoke linear-gradient(45deg,lightblue,white);
}
p {
    font-size: 20px;
}
#header-container {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
}
.header-text {
    position:absolute;

}
#header-h1 {
    left: 50%;
    transform: translate(-50%);
}
#header-p {
    bottom: 8px;
    left: 50%;
    transform: translate(-50%);
}